<nav class="nav az-navbar fixed-top">
    <a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
        <img src="assets/img/logo/qerp_logo_full.png" alt="" class="d-md-block d-none"> 
        <img src="assets/img/logo/qerp_logo_small.png" alt="" class="d-md-none"> 
    </a>
    <div id="lines" class="transition" (click)="toggleMenu()"></div>
    


    <ul class="nav right-section">
        <li class="nav-item">
           <az-messages></az-messages>
        </li>
        
        <li class="nav-item">
          <div class="dropdown float-right user-menu">
              <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  <az-image-thumbnail [images]="user.contact.images" [class]="'img-circle user-img'"></az-image-thumbnail>
                  <span class="d-lg-inline d-none">{{ user.contact.name }} {{ user.contact.surname}}</span>
              </a>

              <ul class="dropdown-menu">
                <form>
                  <li class="user-info">
                      <az-image-display [appTypeId]="appTypes.contact" [linkTypeId]="user.contactId" [editEnabled]="false"></az-image-display>                  
                      <p>
                        {{ user.contact.name }} {{ user.contact.surname}}
                      </p>
                  </li>
                  <div class="dropdown-item form-group">
                    <label for="languageSelect">{{ "login.changeLanguage" | translate }}</label>
                    <select name="languageSelect" class="form-control" (ngModelChange)="setLanguage($event)" [(ngModel)]="language" id="languageSelect">
                        <option value="nl">Nederlands</option>
                        <option value="en">English</option>
                    </select>
                    </div>


<!--                   <a class="dropdown-item" routerLink="/pages/profile/projects"><i class="fa fa-user"></i>Profile</a>
                  <a class="dropdown-item" routerLink="/"><i class="fa fa-cog"></i>Settings</a>
                  <a class="dropdown-item" routerLink="/"><i class="fa fa-lock"></i>Lock screen</a> -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item cursor" (click)="logOut()"><i class="fa fa-power-off"></i>Log out</a>
                </form>
              </ul>
          </div>
        </li>
    </ul>

</nav>