<div widget class="card" style="max-height: 100%!important;">
    <div class="card-header">
        <span class="text-uppercase">{{ "contact" | translate }}: {{ contact.name }} {{ contact.surname }}</span>
        <div class="widget-controls"> 
            <i class="fa fa-times cursor" (click)="close()"></i>
        </div>        
    </div>
    <div class="card-body scroll">

        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="card border-0 box-shadow mb-4">
                    <az-image-display *ngIf="contact?.id" [appTypeId]="appTypes.contact" [linkTypeId]="contact.id"></az-image-display>
                 
                <div class="card-body"> 
                      <h4 class="card-title text-center mb-4">{{ contact.name }} {{ contact.surname }}</h4>

                      <div *ngIf="contact.description" class="row mb-4">
                        <div class="col-md-12">
                            <p class="card-text text-justify mb-4" style="white-space: pre-wrap;">{{ contact.description }}</p>
                        </div>
                      </div>
                                                        

                      <div *ngIf="contact.address || contact.city" class="row mb-4">
                        <div class="col-md-2">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="col-md-10 text-left" style="white-space: pre-wrap;">
                            <span *ngIf="contact.address">{{ contact.address }}</span><br *ngIf="contact.address && contact.city?.name">
                            <span *ngIf="contact.city?.postalCode">{{ contact.city.postalCode }}</span><span *ngIf="contact.city?.name"> {{ contact.city.name }}</span><br *ngIf="contact.address && contact.city?.name">
                            <span *ngIf="contact.city?.name">{{ contact.city.province.name }}, {{ contact.city.country.nicename }}</span>
                        </div>
                      </div>
                      <div *ngIf="contact.phone || contact.mobile" class="row mb-4">
                        <div class="col-md-2">
                            <i *ngIf="contact.phone" class="fa fa-phone"></i><br *ngIf="contact.phone && contact.mobile">
                            <i *ngIf="contact.phone" class="fa fa-mobile"></i>
                        </div>
                        <div class="col-md-10 text-left">
                            <span *ngIf="contact.phone">{{ contact.phone }}</span><br *ngIf="contact.phone && contact.mobile">
                            <span *ngIf="contact.mobile">{{ contact.mobile }}</span>
                        </div>
                      </div>

                      <div *ngIf="contact.email" class="row mb-4">
                        <div class="col-md-2">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="col-md-10 text-left">
                            {{ contact.email }}
                        </div>
                      </div>
                      
                      <div>&nbsp;</div>

                      <div class="d-flex flex-row justify-content-center align-items-center w-100 mt-4">
                        <a href="javascript:void(0);" class="mx-2 text-info">
                          <span class="fa-stack">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                          </span>
                        </a>
                        <a href="javascript:void(0);" class="mx-2 text-info">
                          <span class="fa-stack">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                          </span>
                        </a>
                        <a href="javascript:void(0);" class="mx-2 text-info">
                          <span class="fa-stack">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-google fa-stack-1x"></i>
                          </span>
                        </a>
                      </div>

                      <div>&nbsp;</div>

                      <div class="row mt-4">
                        <div class="col-md-12 text-left">
                            <small>{{ "created" | translate }}: {{ contact.created | date:"yyyy/MM/dd HH:mm" }}</small>
                        </div>
                        <div class="col-md-12 text-left">
                            <small>{{ "updated" | translate}}: {{ contact.updated | date:"yyyy/MM/dd HH:mm" }}</small>
                        </div>

                      </div>

          
                  </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="card card-info border-0 box-shadow">
                    <div class="card-body bg-white">
                
                        <form [formGroup]="personalForm" class="row">

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "contact.name" | translate }}</mat-label>
                                    <input matInput formControlName="name" >
                                    <mat-error *ngIf="personalForm.get('name').touched && personalForm.get('name').hasError('required')">
                                        {{ "contact.name" | translate }} {{ "form.isrequired" | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "contact.surname" | translate }}</mat-label>
                                    <input matInput formControlName="surname" >
                                    <mat-error *ngIf="personalForm.get('surname').touched && personalForm.get('surname').hasError('required')">
                                        {{ "contact.surname" | translate }} {{ "form.isrequired" | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.email" | translate }}</mat-label>
                                    <input matInput formControlName="email" >
                                    <mat-error *ngIf="personalForm.get('email').touched && personalForm.get('email').hasError('invalidEmail')">
                                        {{ "form.invalid"| translate }} {{ "general.email" | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                               
                            <div class="col-md-6"></div>    

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.phone" | translate }}</mat-label>
                                    <input matInput formControlName="phone" >
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.mobile" | translate }}</mat-label>
                                    <input matInput formControlName="mobile" >
                                </mat-form-field>
                            </div>

                            <div formGroupName="city" class="col-md-6" >
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "address.country" | translate }}</mat-label>
                                    <mat-select formControlName="countryId" (selectionChange)="changeCountry($event)">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.nicename }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div formGroupName="city" class="col-md-6" >
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "address.state" | translate }}</mat-label>
                                    <mat-select formControlName="provinceId" (selectionChange)="changeProvince($event)">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6" >
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "address.city" | translate }}</mat-label>
                                    <mat-select formControlName="cityId">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.postalCode }} {{ city.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                                              
                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "address.address" | translate }}</mat-label>
                                    <textarea matInput formControlName="address" rows="2"></textarea>
                                </mat-form-field>
                            </div>

                            <div class="col-md-12">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.description" | translate }}</mat-label>
                                    <textarea matInput formControlName="description" rows="5"></textarea>
                                </mat-form-field>
                            </div>
                            
                            <div class="form-group col-12 pt-3 text-right">
                                <button [disabled]="!personalForm.dirty" class="btn btn-success cursor" (click)="undoChanges()" type="reset">{{ "form.undoChanges" | translate }}</button>&nbsp;<button [disabled]="!personalForm.valid" class="btn btn-success cursor" (click)="onSubmit()" type="button">{{ "form.save" | translate }}</button>
                            </div>
                        </form>
                
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12 bottom-30">
                <div class="clearfix">
                    <ul class="nav nav-tabs top pull-left w-100p">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#companies">{{ "companies" | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#projects">{{ "projects" | translate}}</a>
                        </li>                      
                    </ul>
                </div>
                <div class="tab-content top">

                    <div class="tab-pane active" id="companies">
                        <az-clientcontacts-tab [appTypeId]="appTypes.contact" [linkTypeId]="contact.id"></az-clientcontacts-tab>                        
                    </div>
                    <div class="tab-pane" id="projects">
                        <p>Comming soon!</p>
                    </div>

                </div>                   
            </div>

        </div>

    </div>
</div>