<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span class="text-uppercase">{{ "companies" | translate }}</span>      
            </div>
            <div class="card-body">

                <form class="row">
                    <div class="form-group col-lg-3 col-md-6 col-sm-8">
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{ "general.search" | translate }}</mat-label>
                            <input matInput name="name" [(ngModel)]="company.name" (ngModelChange)="onInputChange('name')">
                        </mat-form-field>
                    </div>
                    <div class="form-group col-lg-9 col-md-6 col-sm-4 d-flex align-items-center">
                        <div class="box">
                                <a href="javascript:void(0)" (click)="onSearch()">
                                    <i class="fa fa-search searchformicon" data-toggle="tooltip" data-animation="false"
                                        data-placement="bottom" title="{{ 'general.search' | translate }}"></i>
                                </a>
                                &nbsp;
                                <a href="javascript:void(0)" (click)="advancedSearch = !advancedSearch">
                                    <i class="fa fa-search-plus searchformicon" data-toggle="tooltip" data-animation="false"
                                        data-placement="bottom" title="{{ 'general.advanced' | translate }}"></i>
                                </a>
                                &nbsp;
                                <a [routerLink]="['/pages/crm/company', 0]">
                                    <i class="fa fa-plus-square  searchformicon" data-toggle="tooltip" data-animation="false"
                                        data-placement="bottom" title="{{ 'general.add' | translate }}"></i>
                                </a>
                        </div>
                    </div>
                    <div *ngIf="advancedSearch" class="form-group col-md-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>{{ "general.email" | translate }}</mat-label>
                                    <input matInput name="email" [(ngModel)]="company.email" (ngModelChange)="onInputChange('email')">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>{{ "general.description" | translate }}</mat-label>
                                    <input matInput name="description" [(ngModel)]="company.description" (ngModelChange)="onInputChange('description')">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>{{ "address.address" | translate }}</mat-label>
                                    <input matInput name="address" [(ngModel)]="company.address" (ngModelChange)="onInputChange('address')">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>{{ "address.country" | translate }}</mat-label>
                                    <mat-select name="country" [(ngModel)]="company.city.countryId" (ngModelChange)="changeCountry($event)">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.nicename }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>{{ "address.state" | translate }}</mat-label>
                                    <mat-select name="province" [(ngModel)]="company.city.provinceId" (ngModelChange)="changeProvince($event)">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let province of provinces"  [value]="province.id">{{ province.name  }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>{{ "address.city" | translate }}</mat-label>
                                    <mat-select name="city" [(ngModel)]="company.cityId">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let city of cities"  [value]="city.id">{{ city.postalCode }} {{ city.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                        </div>
                    </div>
                </form>

                <p></p>
        
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ "company.name" | translate}}</th>
                                <th>{{ "address.address" | translate}}</th>
                                <th>{{ "general.email" | translate }}</th>
                                <th>{{ "general.phone" | translate }}</th>
                                <th>{{ "general.mobile" | translate }}</th>
                                <th>{{ "company.vat" | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let c of companies">
                                <tr>
                                    <td><az-image-thumbnail [images]="c.images" [class]="'tablethumb'"></az-image-thumbnail></td>
                                    <td>{{ c.name }}</td>
                                    <td>
                                        {{ c.address }}
                                        <span *ngIf="c.city"><br>{{ c.city.postalCode }} {{ c.city.name }}</span>
                                        <span *ngIf="c.city?.province"><br>{{ c.city.province.name }}<span *ngIf="c.city?.province?.country">, {{ c.city.province.country.nicename }}</span></span>
                                    </td>
                                    <td>{{ c.email }}</td>
                                    <td>{{ c.phone }}</td>
                                    <td>{{ c.mobile }}</td>
                                    <td>{{ c.vat }}</td>
                                    <td>
                                        <a [routerLink]="['/pages/crm/company', c.id]">
                                            <i class="fa fa-folder-open cursor"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
        
            </div>
        </div>
    </div>
</div>
