
<form class="row">

    <div class="form-group col-lg-3 col-md-6 col-sm-8">
        <mat-form-field style="width: 100%;">
            <mat-label>{{ "general.search" | translate }}</mat-label>
            <input matInput name="crSearch" [(ngModel)]="ccSearch" (ngModelChange)="onInputChange()">
        </mat-form-field>


    </div>

    <div class="form-group col-lg-9 col-md-6 col-sm-4 d-flex align-items-center">
        <div class="box">
            <i class="fa fa-plus-square searchformicon cursor" data-toggle="tooltip" data-animation="false"
                data-placement="bottom" title="{{ 'general.add' | translate }}" (click)="onCreateClientcontact()"></i>
        </div>
    </div> 

</form>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ "contact.name" | translate}}</th>
                <th>{{ "contactroles.role" | translate}}</th>
                <th>{{ "address.address" | translate }}</th>
                <th>{{ "general.email" | translate }}</th>
                <th>{{ "general.phone" | translate }}</th>
                <th>{{ "general.created" | translate }}</th>
                <th>{{ "general.updated" | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let oCr of clientContactsSearch">

                <ng-container *ngIf="appTypeId == appTypes.client">
                    <tr >
                        <td>
                            <ng-container *ngIf="oCr.id!=clientContact.id">
                                <a [routerLink]="['/pages/crm/contact', oCr.contactId]">{{ oCr.contact.fullname }}</a>
                            </ng-container>
                            <ng-container *ngIf="oCr.id==clientContact.id">
                                <mat-form-field class="mat-field">

                                    <mat-select placeholder="{{ 'contact.select' | translate}}" [(ngModel)]="clientContact.contactId">
                                        <mat-form-field class="mat-field">
                                            <input #searchcontact matInput placeholder="{{ 'general.search' | translate }}" [(ngModel)]="contactSearch" 
                                            (input)="onSearchContact($event.target.value)" (keydown)="$event.stopPropagation()">
                                            <a href="javascript:void(0)" (click)="onEnterSearchClientOrContact()">
                                                <i *ngIf="contacts.length < 2 && contactSearch.length > 2" class="fa fa-plus-square cursor"></i>
                                            </a>                                            
                                        </mat-form-field>
                                        <mat-option hidden [value]="null"></mat-option>
                                        <mat-option *ngFor="let contact of contacts" [value]="contact.id">{{ contact.fullname }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="oCr.id!=clientContact.id">
                                {{ oCr.contactrole.name }}
                            </ng-container>
                            <ng-container *ngIf="oCr.id==clientContact.id">
                                <mat-form-field class="mat-field">
                                    <mat-select placeholder="{{ 'contactroles.select' | translate}}" [(ngModel)]="clientContact.contactroleId">                                
                                        <mat-option *ngFor="let roles of contactroles" [value]="roles.id">{{ roles.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </td>
                        <td style="white-space: pre-wrap;">
                            {{ oCr.contact?.address }}
                            <span *ngIf="oCr.contact?.city">
                                <br *ngIf="oCr.contact?.address">{{ oCr.contact.city.postalCode }} {{ oCr.contact.city.name }}<br>
                                {{ oCr.contact.city.province.name }}, {{ oCr.contact.city.province.country.nicename }}
                            </span>
                        </td>
                        <td>{{ oCr.contact?.email }}</td>
                        <td>
                            <div *ngIf="oCr.contact?.phone" class="row" >
                                <div class="col-12">
                                    <i class="fa fa-phone mr-2"></i>{{ oCr.contact.phone }}
                                </div>
                            </div>
                            <div *ngIf="oCr.contact?.mobile" class="row" >
                                <div class="col-12">
                                    <i class="fa fa-mobile mr-2"></i>{{ oCr.contact.mobile }}
                                </div>
                            </div>
                        </td>
                        <td>{{ oCr.created | date:"yyyy/MM/dd HH:mm" }}</td>
                        <td>{{ oCr.updated | date:"yyyy/MM/dd HH:mm" }}</td>
                        <td>
                            <i *ngIf="oCr.id!=clientContact.id" class="fa fa-edit cursor mr-2" (click)="editClientcontact(oCr)"></i>
                            <i *ngIf="oCr.id==clientContact.id" class="fa fa-save cursor mr-2" (click)="saveClientcontact(clientContact)"></i>
                            <i class="fa fa-trash-o cursor" (click)="deleteContactrole(oCr)"></i>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="appTypeId == appTypes.contact">
                    <tr class="font-weight-normal">
                        <td>
                            <ng-container *ngIf="oCr.id!=clientContact.id">
                                <a [routerLink]="['/pages/crm/company', oCr.clientId]">{{ oCr.client.name }}</a>
                            </ng-container>
                            <ng-container *ngIf="oCr.id==clientContact.id">
                                <mat-form-field>
                                    <mat-select placeholder="{{ 'company.select' | translate}}" [(ngModel)]="clientContact.clientId">
                                        <mat-form-field class="mat-field">
                                            <input matInput placeholder="{{ 'general.search' | translate }}" [(ngModel)]="companySearch" 
                                            (input)="onSearchCompany($event.target.value)" (keydown)="$event.stopPropagation()">
                                            <a href="javascript:void(0)" (click)="onEnterSearchClientOrContact()">
                                                <i *ngIf="companies.length < 2 && companySearch.length > 2" class="fa fa-plus-square cursor"></i>
                                            </a>                                            
                                        </mat-form-field>
                                        
                                        <mat-option hidden [value]="null"></mat-option>
                                        <mat-option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="oCr.id!=clientContact.id">
                                {{ oCr.contactrole.name }}
                            </ng-container>
                            <ng-container *ngIf="oCr.id==clientContact.id">
                                <mat-form-field>
                                    <mat-select placeholder="{{ 'contactroles.select' | translate}}" [(ngModel)]="clientContact.contactroleId">                                 
                                        <mat-option *ngFor="let roles of contactroles" [value]="roles.id">{{ roles.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </td>
                        <td style="white-space: pre-wrap;">
                            <div class="row" >
                                <div *ngIf="oCr.client?.address" class="col-12">
                                    {{ oCr.client.address }}
                                </div>
                                <div *ngIf="oCr.client?.city" class="col-12">
                                    {{ oCr.client.city.postalCode }} {{ oCr.client.city.name }}
                                </div>
                                <div *ngIf="oCr.client?.city" class="col-12">
                                    {{ oCr.client.city.province.name }}, {{ oCr.client.city.province.country.nicename }}
                                </div>
                            </div>
                        </td>
                        <td>{{ oCr.client?.email }}</td>
                        <td>
                            <div *ngIf="oCr.client?.phone" class="row" >
                                <div class="col-12">
                                    <i class="fa fa-phone mr-2"></i>{{ oCr.client?.phone }}
                                </div>
                            </div>
                            <div *ngIf="oCr.client?.mobile" class="row" >
                                <div class="col-12">
                                    <i class="fa fa-mobile mr-2"></i>{{ oCr.client?.mobile }}
                                </div>
                            </div>
                        </td>
                        <td>{{ oCr.created | date:"yyyy/MM/dd HH:mm" }}</td>
                        <td>{{ oCr.updated | date:"yyyy/MM/dd HH:mm" }}</td>
                        <td>
                            <i *ngIf="oCr.id!=clientContact.id" class="fa fa-edit cursor mr-2" (click)="editClientcontact(oCr)"></i>
                            <i *ngIf="oCr.id==clientContact.id" class="fa fa-save cursor mr-2" (click)="saveClientcontact(clientContact)"></i>
                            <i class="fa fa-trash-o cursor" (click)="deleteContactrole(oCr)"></i>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>
