<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span class="text-uppercase">{{ "contacts" | translate }}</span>      
            </div>
            <div class="card-body">

                <form class="row">
                    <div class="form-group col-lg-3 col-md-6 col-sm-8">
                        <input class="form-control" name="fullname" [(ngModel)]="contact.fullname" (ngModelChange)="onInputChange('fullname')" placeholder="{{ 'contact.name' | translate }}" >
                    </div>
                    <div class="form-group col-lg-9 col-md-6 col-sm-4 d-flex align-items-center">
                        <div class="box">
                                <i class="fa fa-search searchformicon" (click)="onSearch()" data-toggle="tooltip" data-animation="false"
                                    data-placement="bottom" title="{{ 'general.search' | translate }}"></i>&nbsp;
                                <i class="fa fa-search-plus searchformicon" (click)="advancedSearch = !advancedSearch" data-toggle="tooltip" data-animation="false"
                                    data-placement="bottom" title="{{ 'general.advanced' | translate }}"></i>&nbsp;
                                <i class="fa fa-plus-square  searchformicon" (click)="addContact()" data-toggle="tooltip" data-animation="false"
                                    data-placement="bottom" title="{{ 'general.add' | translate }}"></i>
                        </div>

<!--                         <button type="submit" class="btn btn-main" (click)="onSearch()">{{ "general.search" | translate }}</button>&nbsp;
                        <button type="submit" class="btn btn-main" (click)="advancedSearch = !advancedSearch">{{ "general.advanced" | translate }}</button>&nbsp;
                        <button type="none" class="btn btn-main" (click)="addContact()">{{ "general.add" | translate }}</button> -->
                    </div> 

                    <div *ngIf="advancedSearch" class="form-group col-md-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <label class="form-control-label">{{ "contact.name" | translate }}</label>
                                <input class="form-control" name="name" [(ngModel)]="contact.name" (ngModelChange)="onInputChange('name')" type="text">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <label class="form-control-label">{{ "contact.surname" | translate }}</label>
                                <input class="form-control" name="surname" [(ngModel)]="contact.surname" (ngModelChange)="onInputChange('surname')" type="text">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <label class="form-control-label">{{ "general.email" | translate }}</label>
                                <input class="form-control" name="email" [(ngModel)]="contact.email" (ngModelChange)="onInputChange('email')" type="text">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <label class="form-control-label">{{ "general.description" | translate }}</label>
                                <input class="form-control" name="description" [(ngModel)]="contact.description" (ngModelChange)="onInputChange('description')" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <label class="form-control-label">{{ "address.address" | translate }}</label>
                                <input class="form-control" name="address" [(ngModel)]="contact.address" (ngModelChange)="onInputChange('address')" type="text">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <label class="form-control-label">{{ "address.country" | translate }}</label>
                                <select class="form-control" name="country" [(ngModel)]="contact.city.countryId" (ngModelChange)="changeCountry($event)">
                                    <option [ngValue]="null"></option>
                                    <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.nicename }}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <label class="form-control-label">{{ "address.state" | translate }}</label>
                                <select class="form-control" name="province" [(ngModel)]="contact.city.provinceId" (ngModelChange)="changeProvince($event)" >
                                    <option [ngValue]="null"></option>
                                    <option *ngFor="let province of provinces" [ngValue]="province.id">{{ province.name }}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <label class="form-control-label">{{ "address.city" | translate }}</label>
                                <select class="form-control" name="city" [(ngModel)]="contact.cityId">
                                    <option [ngValue]="null"></option>
                                    <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.postalCode }} {{ city.name }}</option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                </form>

                <p></p>
        
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ "contact.name" | translate}}</th>
                                <th>{{ "address.address" | translate}}</th>
                                <th>{{ "general.email" | translate }}</th>
                                <th>{{ "general.phone" | translate }}</th>
                                <th>{{ "general.mobile" | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let c of contacts">
                                <tr>
                                    <td><az-image-thumbnail [images]="c.images"></az-image-thumbnail></td>
                                    <td>{{ c.name }} {{ c.surname }}</td>
                                    <td>
                                        {{ c.address }}
                                        <span *ngIf="c.city"><br>{{ c.city.postalCode }} {{ c.city.name }}</span>
                                        <span *ngIf="c.city?.province"><br>{{ c.city.province.name }}<span *ngIf="c.city?.province?.country">, {{ c.city.province.country.nicename }}</span></span>
                                    </td>
                                    <td>{{ c.email }}</td>
                                    <td>{{ c.phone }}</td>
                                    <td>{{ c.mobile }}</td>
                                    <td><i class="fa fa-folder-open cursor" (click)="onShowContact(c.id)"></i></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
        
            </div>
        </div>
    </div>
</div>

<div *ngIf="showContact" class="overlay d-flex justify-content-center">
    <div class="col-md-9 col-sm-12 align-items-center">
        <az-contact [id]="selectedId" (showContact)="showContact=$event"></az-contact>
    </div>
</div>