<div widget class="card" style="max-height: 100%!important;">
    <div class="card-header">
        <span class="text-uppercase">{{ "company" | translate }}: {{ company.name }}
        </span>    
    </div>
    <div class="card-body scroll">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 bottom-30">
                <div class="card border-0 box-shadow mb-4">
                  <az-image-display *ngIf="company?.id" [appTypeId]="appTypes.company" [linkTypeId]="company.id"></az-image-display>
                  
                  <div class="card-body"> 
                      <h4 class="card-title text-center mb-4">
                        {{ company.name }}
                        <span *ngIf="company.website?.length > 0">
                            <br><small><a href="{{ company.website }}" target="_blank">{{ company.website }}</a></small>
                        </span>
                      </h4>

                      <div *ngIf="company.description" class="row mb-4">
                        <div class="col-md-12">
                            <p class="card-text text-justify mb-4" style="white-space: pre-wrap;">
                                {{ company.description }}
                            </p>
                        </div>
                      </div>
                                                        

                      <div *ngIf="company.address || company.city" class="row mb-4">
                        <div class="col-md-2">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="col-md-10 text-left" style="white-space: pre-wrap;">
                            <span *ngIf="company.address">{{ company.address }}</span><br *ngIf="company.address && company.city?.name">
                            <span *ngIf="company.city?.postalCode">{{ company.city.postalCode }}</span><span *ngIf="company.city?.name"> {{ company.city.name }}</span><br *ngIf="company.address && company.city?.name">
                            <span *ngIf="company.city?.name">{{ company.city.province.name }}, {{ company.city.country.nicename }}</span>
                        </div>
                      </div>
                      <div *ngIf="company.phone || company.mobile" class="row mb-4">
                        <div class="col-md-2">
                            <i *ngIf="company.phone" class="fa fa-phone"></i><br *ngIf="company.phone && company.mobile">
                            <i *ngIf="company.mobile" class="fa fa-mobile"></i>
                        </div>
                        <div class="col-md-10 text-left">
                            <span *ngIf="company.phone">{{ company.phone }}</span><br *ngIf="company.phone && company.mobile">
                            <span *ngIf="company.mobile">{{ company.mobile }}</span>
                        </div>
                      </div>

                      <div *ngIf="company.email" class="row mb-4">
                        <div class="col-md-2">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="col-md-10 text-left">
                            {{ company.email }}
                        </div>
                      </div>
                      
                      <div class="row mb-4">
                        <div class="d-flex flex-row justify-content-center align-items-center w-100 mt-4">
                            <a href="javascript:void(0);" class="mx-2 text-info">
                              <span class="fa-stack">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                              </span>
                            </a>
                            <a href="javascript:void(0);" class="mx-2 text-info">
                              <span class="fa-stack">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                              </span>
                            </a>
                            <a href="javascript:void(0);" class="mx-2 text-info">
                              <span class="fa-stack">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-google fa-stack-1x"></i>
                              </span>
                            </a>
                          </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-md-12 text-left">
                            <small>Created: {{ company.created | date:"yyyy/MM/dd HH:mm" }}</small>
                        </div>
                        <div class="col-md-12 text-left">
                            <small>Updated: {{ company.updated | date:"yyyy/MM/dd HH:mm" }}</small>
                        </div>

                      </div>

          
                  </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 bottom-30">
                <div class="card card-info border-0 box-shadow">
                    <div class="card-body bg-white">
                
                        <form [formGroup]="personalForm" class="row">

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "company.name" | translate }}</mat-label>
                                    <input matInput formControlName="name" >
                                    <mat-error *ngIf="personalForm.get('name').touched && personalForm.get('name').hasError('required')">
                                        {{ "company.name" | translate }} {{ "form.isrequired" | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6"></div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.website" | translate }}</mat-label>
                                    <input matInput formControlName="website" >
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.email" | translate }}</mat-label>
                                    <input matInput formControlName="email" >
                                    <mat-error *ngIf="personalForm.get('email').touched && personalForm.get('email').hasError('invalidEmail')">
                                        {{ "form.invalid"| translate }} {{ "general.email" | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.phone" | translate }}</mat-label>
                                    <input matInput formControlName="phone" >
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.mobile" | translate }}</mat-label>
                                    <input matInput formControlName="mobile" >
                                </mat-form-field>
                            </div>

                            <div formGroupName="city" class="col-md-6" >
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "address.country" | translate }}</mat-label>
                                    <mat-select formControlName="countryId" (selectionChange)="changeCountry($event)">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.nicename }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div formGroupName="city" class="col-md-6" >
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "address.state" | translate }}</mat-label>
                                    <mat-select formControlName="provinceId" (selectionChange)="changeProvince($event)">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6" >
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "address.city" | translate }}</mat-label>
                                    <mat-select formControlName="cityId">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.postalCode }} {{ city.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                                              
                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "address.address" | translate }}</mat-label>
                                    <textarea matInput formControlName="address" rows="2"></textarea>
                                </mat-form-field>
                            </div>
                


                            <!-- Marker -->
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12 ">
                                        <section class="mat-check">
                                            <mat-checkbox formControlName="invoiceSameAddress" >{{ "address.invoiceSameAddress" | translate }}</mat-checkbox>
                                        </section>
                                    </div>
                                </div>

                                <div *ngIf="!personalForm.get('invoiceSameAddress').value" class="row">

                                    <div formGroupName="invoiceCity" class="col-md-6" >
                                        <mat-form-field class="mat-field">
                                            <mat-label>{{ "address.invoiceCountry" | translate }}</mat-label>
                                            <mat-select formControlName="countryId" (selectionChange)="changeInvoiceCountry($event)">
                                                <mat-option [value]="null"></mat-option>
                                                <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.nicename }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
        
                                    <div formGroupName="invoiceCity" class="col-md-6" >
                                        <mat-form-field class="mat-field">
                                            <mat-label>{{ "address.invoiceState" | translate }}</mat-label>
                                            <mat-select formControlName="provinceId" (selectionChange)="changeInvoiceProvince($event)">
                                                <mat-option [value]="null"></mat-option>
                                                <mat-option *ngFor="let province of invoiceProvinces" [value]="province.id">{{ province.name }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
        
                                    <div class="col-md-6" >
                                        <mat-form-field class="mat-field">
                                            <mat-label>{{ "address.invoiceCity" | translate }}</mat-label>
                                            <mat-select formControlName="invoiceCityId">
                                                <mat-option [value]="null"></mat-option>
                                                <mat-option *ngFor="let city of invoiceCities" [value]="city.id">{{ city.postalCode }} {{ city.name }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="mat-field">
                                            <mat-label>{{ "address.invoiceAddress" | translate }}</mat-label>
                                            <textarea matInput formControlName="invoiceAddress" rows="2"></textarea>
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>
                            <!-- end marker -->

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "vat.vatnumber" | translate }}</mat-label>
                                    <input matInput formControlName="vat" >
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.iban" | translate }}</mat-label>
                                    <input matInput formControlName="iban" >
                                </mat-form-field>
                            </div>

                            <div class="col-md-12">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.description" | translate }}</mat-label>
                                    <textarea matInput formControlName="description" rows="5"></textarea>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "prospect.prospectprefix" | translate }}</mat-label>
                                    <input matInput formControlName="prospectPrefix" >
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "prospect.prospectnumber" | translate }}</mat-label>
                                    <input matInput formControlName="prospectNumber" >
                                    <mat-error *ngIf="personalForm.get('prospectNumber').touched && personalForm.get('prospectNumber').hasError('required')">
                                        {{ "prospect.prospectnumber" | translate }} {{ "form.isrequired" | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "project.projectprefix" | translate }}</mat-label>
                                    <input matInput formControlName="projectPrefix" >
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "project.projectnumber" | translate }}</mat-label>
                                    <input matInput formControlName="projectNumber" >
                                    <mat-error *ngIf="personalForm.get('projectNumber').touched && personalForm.get('projectNumber').hasError('required')">
                                        {{ "project.projectnumber" | translate }} {{ "form.isrequired" | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            
                            <div class="form-group col-12 pt-3 text-right">
                                <button [disabled]="!personalForm.dirty" class="btn btn-success cursor" (click)="undoChanges()" type="reset">{{ "form.undoChanges" | translate }}</button>&nbsp;<button [disabled]="!personalForm.valid" class="btn btn-success cursor" (click)="onSubmit()" type="button">{{ "form.save" | translate }}</button>
                            </div>
                        </form>
                
                    </div>
                </div>
            </div>
        </div>

</div>