<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span class="text-uppercase">{{ "prospects" | translate }}</span>      
            </div>
            <div class="card-body">

                <form class="row">
                    <div class="form-group col-lg-3 col-md-6 col-sm-8">
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{ "prospect.searchNumber" | translate }}</mat-label>
                            <input matInput name="number" [(ngModel)]="prospect.number" (ngModelChange)="onInputChange('number')">
                        </mat-form-field>
                    </div>
                    <div class="form-group col-lg-9 col-md-6 col-sm-4 d-flex align-items-center">
                        <div class="box">
                                <a href="javascript:void(0)" (click)="onSearch()">
                                    <i class="fa fa-search searchformicon" data-toggle="tooltip" data-animation="false"
                                        data-placement="bottom" title="{{ 'general.search' | translate }}"></i>
                                </a>
                                &nbsp;
                                <a href="javascript:void(0)" (click)="advancedSearch = !advancedSearch">
                                    <i class="fa fa-search-plus searchformicon" data-toggle="tooltip" data-animation="false"
                                        data-placement="bottom" title="{{ 'general.advanced' | translate }}"></i>
                                </a>
                                &nbsp;
                                <a [routerLink]="['/pages/pm/prospect', 0]">
                                    <i class="fa fa-plus-square  searchformicon" data-toggle="tooltip" data-animation="false"
                                        data-placement="bottom" title="{{ 'general.add' | translate }}"></i>
                                </a>
                        </div>
                    </div>
                    <div *ngIf="advancedSearch" class="form-group col-md-12">

                        <div class="row">

                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "contact" | translate }}</mat-label>
                                    <mat-select name="contactId" [(ngModel)]="prospect.contactId">
                                        <mat-form-field class="mat-field">
                                            <input name="searchcontact" matInput placeholder="{{ 'general.search' | translate }}" [(ngModel)]="contactSearch" 
                                            (input)="onSearchContact($event.target.value)" (keydown)="$event.stopPropagation()">                                        
                                        </mat-form-field>

                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let contact of contacts" [value]="contact.id">{{ contact.fullname }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "company" | translate }}</mat-label>
                                    <mat-select name="clientId" [(ngModel)]="prospect.clientId">
                                        <mat-form-field class="mat-field">
                                            <input name="searchcompany" matInput placeholder="{{ 'general.search' | translate }}" [(ngModel)]="companySearch" 
                                            (input)="onSearchCompany($event.target.value)" (keydown)="$event.stopPropagation()">                                        
                                        </mat-form-field>
                                        
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "prospect.type" | translate }}</mat-label>
                                    <mat-select name="prospectTypeId" [(ngModel)]="prospect.prospectTypeId" (ngModelChange)="onInputChange('prospectTypeId')">                                      
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="let prospectType of prospectTypes" [value]="prospectType.id">{{ prospectType.name | translate }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.description" | translate }}</mat-label>
                                    <input matInput name="description" [(ngModel)]="prospect.description" (ngModelChange)="onInputChange('description')">
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.deadlineFrom" | translate }}</mat-label>
                                    <input matInput name="deadlineFrom" type="datetime-local" [(ngModel)]="prospect.deadlineFrom" (keyup.enter)="onInputChange('deadlineFrom')">
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                                <mat-form-field class="mat-field">
                                    <mat-label>{{ "general.deadlineTo" | translate }}</mat-label>
                                    <input matInput name="deadlineTo" type="datetime-local" [(ngModel)]="prospect.deadlineTo" (keyup.enter)="onInputChange('deadlineTo')">
                                </mat-form-field>
                            </div>

                        </div>

                    </div>
                </form>

                <p></p>
        
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ "prospect.number" | translate}}</th>
                                <th>{{ "company" | translate}}</th>
                                <th>{{ "contact" | translate }}</th>
                                <th>{{ "type" | translate }}</th>
                                <th>{{ "general.deadline" | translate }}</th>
                                <th>{{ "general.created" | translate }}</th>
                                <th>{{ "general.updated" | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor="let c of prospects">
                                <tr>
                                    <td>{{ c.number }}</td>
                                    <td>
                                        <span *ngIf="c.client">
                                            {{ c.client?.name }}
                                        </span>
                                    </td>
                                    <td>
                                        <span *ngIf="c.contact">
                                            {{ c.contact?.fullname }}
                                        </span>
                                    </td>
                                    <td>
                                        <span *ngIf="c.prospectType">
                                            {{ c.prospectType?.name | translate }}
                                        </span>
                                    </td>
                                    <td>{{ c.deadline }}</td>
                                    <td>{{ c.created | date:"yyyy/MM/dd HH:mm" }}</td>
                                    <td>{{ c.updated | date:"yyyy/MM/dd HH:mm" }}</td>
                                    <td>
                                        <a [routerLink]="['/pages/pm/prospect', c.id]">
                                            <i class="fa fa-folder-open cursor"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
        
            </div>
        </div>
    </div>
</div>
